<!-- Intro -->
<div id="about">
    <div class="light-wrapper">
      <div class="container inner">
        <div class="row">
          <div class="text-center">
            <h2 class="main-title">About us</h2>
            <hr>
          </div>
          <div class="divide50"></div>
          <div class="col-sm-4">
            <figure><img src="assets/img/office.jpg" alt="" style="width: 100%;"></figure>
          </div>
          <div class="col-sm-8">
            <h4>Laarinka</h4>
            <p>Vestibulum ligut praesent commodo cursus magna, consectetur et. Cum socis natoque penatibus et magnis dis
              tellus parturient pharetra montes. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
              Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius
              blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta
              felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo
              luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          </div>
        </div>
        <div class="divide50"></div>
        <div class="row">
          <!-- <div class="col-sm-4">
            <h4>Our Journeys</h4>
            <hr>
            <p>Duis non lectus sit amet est imperdiet cursus elementum vitae eros. Etiam adipiscingmorbi vitae magna
              tellus.</p>
            <div class="divide5"></div>
            <ul class="progress-list">
              <li> -->
                <!-- <p>Asia <em>90%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 90%;"></div>
                </div>
              </li>
              <li>
                <p>Australia <em>80%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 80%;"></div>
                </div>
              </li>
              <li>
                <p>America <em>85%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 85%;"></div>
                </div>
              </li>
              <li>
                <p>Europe <em>50%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 50%;"></div>
                </div>
              </li>
            </ul> -->
            <!-- /.progress-list -->
          <!-- </div> -->
          <!-- /.col -->

          <div class="col-sm-4">
            <h4>Why Choose Us?</h4>
            <hr>
            <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec
              ullamcorper nulla non metus auctor fringilla. </p>
            <div class="divide10"></div>
            <ol class="color">
              <li>Donec ullamcorper nulla non metus auctor.</li>
              <li>Cras justo odio, dapibus ac facilisis in egestas.</li>
              <li>Praesent commodo cursus magna.</li>
              <li>Curabitur blandit tempus porttitor.</li>
              <li>Sed posuere consectetur est at lobortis.</li>
              <li>Aenean lacinia bibendum nulla sed consectetur.</li>
            </ol>
          </div>
          <!-- /.col -->

          <div class="col-sm-4">
            <h4>Our Transports</h4>
            <hr>
            <div class="divide10"></div>
            <div class="services-2">
              <div class="icon"> <img src="assets/img/icon-web.png" data-src="style/images/icons/icon-web.png"
                  data-ret="style/images/icons/icon-web@2x.png" class="retina" alt="" /> </div>
              <!-- /.icon -->
              <div class="text">
                <h5>Responsive Layout</h5>
                <p>Etiam porta malesuada magna.</p>
              </div>
              <!-- /.text -->
              <div class="divide20"></div>
              <div class="icon"> <img src="assets/img/icon-heart.png" data-src="style/images/icons/icon-heart.png"
                  data-ret="style/images/icons/icon-heart@2x.png" class="retina" alt="" /> </div>
              <!-- /.icon -->
              <div class="text">
                <h5>Flat & Clean design</h5>
                <p>Etiam porta malesuada.</p>
              </div>
              <!-- /.text -->
              <div class="divide20"></div>
              <div class="icon"> <img src="assets/img/icon-print.png" data-src="style/images/icons/icon-print.png"
                  data-ret="style/images/icons/icon-print@2x.png" class="retina" alt="" /> </div>
              <!-- /.icon -->
              <div class="text">
                <h5>Print Design</h5>
                <p>Etiam porta malesuada magna.</p>
              </div>
              <!-- /.text -->

            </div>
            <!-- /.services-2 -->

          </div>
          <!-- /.col -->

        </div>
        <!-- /.row -->

      </div>
      <!-- /.container -->
    </div>
    <!-- /.light-wrapper -->
  </div>
  <!-- /Intro -->