<!-- begin:booking -->
<div class="modal fade" id="booking" tabindex="-1" role="dialog" aria-labelledby="booking" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Online Booking Form</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="emailAddress">Email address</label>
              <input id="emailAddress" type="email" class="form-control input-lg" placeholder="Enter email">
            </div>
            <!-- <div class="form-group">
              <label for="password">Password</label>
              <input id="password" type="password" class="form-control input-lg" placeholder="Password">
            </div> -->
            <div class="form-group">
              <label for="country">Which road trip are you paying for?</label>
              <select class="form-control" id="state">
                <option>Araromi Road Trip</option>
                <option>Coming Soon</option>
                <option>Coming Soon</option>
                <option>Coming Soon</option>
                <option>Coming Soon</option>
              </select>
            </div>

          </form>
        </div>
        <div class="modal-footer">
            <a href="https://flutterwave.com/pay/lhxu7nt3kkfv"></a>
          <input type="submit" class="btn confirm-btn" value="Confirm">
        </div>
      </div>
    </div>
  </div>
  <!-- end:booking -->
  