<!-- Portfolio -->
<div id="places" class="places">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h2 class="main-title">Our Pending Trips</h2>
          <hr>
        </div>
      </div>
    </div>
    <div class="divide50"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="grid center-block">
            <figure class="effect-zoe">
              <img src="assets/img/larinka.png" alt="Araromi Beach" class="img-responsive center-block">
              <figcaption>
                <h2>Araromi Beach</h2>
                <p class="icon-links">
                  <a href="https://www.instagram.com/p/CR4CDwPHO2-/"><i class="fa fa-heart-o"></i></a>
                  <a href="https://www.instagram.com/p/CR4CDwPHO2-/"><i class="fa fa-eye"></i></a>
                  <a href="https://www.instagram.com/p/CR4CDwPHO2-/"><i class="fa fa-bookmark-o"></i></a>
                </p>
                <p class="description">
                  Road Trip/Beach Camp to Araromi, Ilaje Beach.
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="grid center-block">
            <figure class="effect-zoe">
              <img src="assets/img/larinka.png" alt="sydney" class="img-responsive center-block">
              <figcaption>
                <h2>Sydney</h2>
                <p class="icon-links">
                  <a href="https://www.instagram.com/p/CR4CDwPHO2-/"><i class="fa fa-heart-o"></i></a>
                  <a href="https://www.instagram.com/p/CR4CDwPHO2-"><i class="fa fa-eye"></i></a>
                  <a href="https://www.instagram.com/p/CR4CDwPHO2-/"><i class="fa fa-bookmark-o"></i></a>
                </p>
                <p class="description">
                  Road Trip/Beach Camp to Araromi, Ilaje Beach.
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="grid center-block">
            <figure class="effect-zoe">
              <img src="assets/img/washington.jpg" alt="washington" class="img-responsive center-block">
              <figcaption>
                <h2>Washington</h2>
                <p class="icon-links">
                  <a href="#"><i class="fa fa-heart-o"></i></a>
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#"><i class="fa fa-bookmark-o"></i></a>
                </p>
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="grid center-block">
            <figure class="effect-zoe">
              <img src="assets/img/london.jpg" alt="london" class="img-responsive center-block">
              <figcaption>
                <h2>London</h2>
                <p class="icon-links">
                  <a href="#"><i class="fa fa-heart-o"></i></a>
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#"><i class="fa fa-bookmark-o"></i></a>
                </p>
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="grid center-block">
            <figure class="effect-zoe">
              <img src="assets/img/statue_of_liberty.jpg" alt="statue_of_liberty" class="img-responsive center-block">
              <figcaption>
                <h2>U.S.A</h2>
                <p class="icon-links">
                  <a href="#"><i class="fa fa-heart-o"></i></a>
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#"><i class="fa fa-bookmark-o"></i></a>
                </p>
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="grid center-block">
            <figure class="effect-zoe">
              <img src="assets/img/pizza_tower.jpg" alt="pizza_tower" class="img-responsive center-block">
              <figcaption>
                <h2>Pizza Tower</h2>
                <p class="icon-links">
                  <a href="#"><i class="fa fa-heart-o"></i></a>
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#"><i class="fa fa-bookmark-o"></i></a>
                </p>
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- /Portfolio -->