<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div id="top" class="header">
    <div class="vert-text parallax">
      <h1 class="header-text">Explore with Laarinka</h1>
      <h3 class="header-text">
        <em class="header-text">So we are here to guide you</em>
      </h3><br />
      <a href="#about" class="btn header-btn">Find Out More</a>
      <br />
      <a href="#about"><img src="assets/img/direction.png" class="space" alt="Direction"></a>
    </div>
  </div>
  <!-- /Full Page Image Header Area -->
<app-about></app-about>
<app-services></app-services>
<app-guides></app-guides>
<app-places></app-places>
<app-cta></app-cta>
<app-contact></app-contact>
<app-bookings></app-bookings>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
